
@import "../node_modules/bootstrap/scss/bootstrap";
$color-scheme: (
    (light,  #464459, #fff, './../images/bg-desktop-light.jpg','./../images/bg-mobile-light.jpg', #ffffff, #424147,hsl(236, 9%, 61%), hsl(235, 19%, 35%), hsl(220, 98%, 61%)),
    (dark,  #c8cae3, #181824, './../images/bg-desktop-dark.jpg','./../images/bg-mobile-dark.jpg', #25273c, #d1d3ea, hsl(233, 14%, 35%), hsl(234, 39%, 85%), hsl(220, 98%, 61%))
);
@mixin theme($name,  $color, $bodyBgColor, $wrapperImage, $mobileImage, $backgroundColor, $content, $grayishBlue, $hoverLink, $primary) {  
  .theme-#{$name} { 
      background-color: $bodyBgColor;
      
      .createList, 
      .customeCeckBoxBg,
      .createListInputText,
      .list-group-item,
      .mobile-filter,
      .ion-icon {
          background-color: $backgroundColor;
          color: $content;
      }
      .footerText{
        color: $content
      }
      .footerList{
        color:$grayishBlue;
        cursor: pointer;
        &:hover{
          color: $hoverLink;
        }  
        &.active{
          color: $primary;
        }
      }
      .customCeckBoxLebel{
        color: $content;
      }
      .app{
        background-image: url($wrapperImage);
        @media screen and (max-width:375px){
          background-image: url($mobileImage);
        }
      }
  }
}

@each $name, $color, $bodyBgColor, $wrapperImage, $mobileImage, $backgroundColor, $content, $grayishBlue, $hoverLink, $primary in $color-scheme {
  @include theme($name, $color, $bodyBgColor, $wrapperImage,$mobileImage, $backgroundColor, $content, $grayishBlue, $hoverLink, $primary);
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
.app{
  background: 0 0 no-repeat;
}
.container{
  max-width: 542px;
}
.themeSwitch{
  cursor: pointer;
}
.createList{
  height: 66px;
  border-radius: 4px;
}
.createListInputText{
  &:focus{
    box-shadow:none;
  }
}
.ion-icon{
  font-size: inherit !important;
}
.pointer{
  cursor: pointer;
}
